!!!
%html
  %link{:rel => 'stylesheet', :type => 'text/css', :media => 'all', :href => '/css/style.min.css'}
  %body
  %a{title:"Reload", href:"/"} Reload
  %h2.title= @heading
  %div.tile.is-ancestor.is-vertical
    - @albums.each_slice(5).to_a.each do |row|
      %div.tile.is-parent
        - row.each do |album|
          %div.tile.is-child.card
            %div.card-content
              %p.title.ellipsis.is-ellipsis-2
                %a{:href => "/album?album_id=#{album.album_id}"}
                  =album.title
              %p
                %a{:href => "/artist?name=#{album.albumartist}"}
                  =album.artist
              %p
                =album.year
            %div.card-footer
              %button.button.is-primary{ :onclick => "fetch(\"/add_album?id=#{album.album_id}\")" } +


